.message__bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: 350px;
    text-align: center;
    padding: 20px;
    position: absolute;
}

.message__arrow--right {
    width: 0;
    height: 0;
    right: -10px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid #c8c8c8;
}

.message__arrow--right:after {
    right: 1px;
    bottom: -10px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #f8f8f8;
    content: "";
}

.message__arrow--left {
    width: 0;
    height: 0;
    left: -10px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #c8c8c8;
}

.message__arrow--left:after {
    left: 1px;
    bottom: -10px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #f8f8f8;
    content: "";
}

