.messagebubble {
  background-color: #f8f8f8;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  color: black;
  width: 350px;
  min-height: 30px;
  text-align: center;
  padding: 5px;
  position: relative;
  margin: 10px 10px;

  &__title {
    color: darkgray;
    font-size: small;
    float: right;
    padding-right: 5px;
  }

  &__arrow--left {
    width: 0;
    height: 0;
    top: 10px;
    left: -10px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #c8c8c8;
  }

  &__arrow--left:after {
    left: 1px;
    bottom: -10px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #f8f8f8;
    content: "";
  }
}

.messagebubble__arrow--right {
  width: 0;
  height: 0;
  right: -10px;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid #c8c8c8;
}

.messagebubble__arrow--right:after {
  right: 1px;
  bottom: -10px;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f8f8f8;
  content: "";
}
