.chat {
    width: 900px;
    height: 400px;
    margin: auto;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;

    &__container {
        background-color: rgba(255, 255, 255, 0.6);
    }

    &__message {
        color: #1a1cdd;
    }

    &__name {
        margin-right: 5px;
        color: crimson;
    }

    &__chat-hide {
        display: none;
    }
}
